@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="jumbotron" style="background-color:lightsteelblue">
        <h1 style="color:black">WatchAndEnjoy</h1>
        <p class="lead" style="color:black">The biggest library of movies, tv-series and animes. Know the information you need about your favourite show, but first sign in.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Register &raquo;</a></p>
    </div>

    <div class="jumbotron" style="background-color:darkslateblue">
        <h2 style="color:black">Movies Library</h2>
        <p style="color:black">
            The biggest library for movies in the internet. Everything you need to know about the movie: name, price, cast and a lot more .....
        </p>
        <p><a class="btn btn-primary btn-lg" href="http://go.microsoft.com/fwlink/?LinkId=301865">Movies &raquo;</a></p>
    </div>
    <div class="jumbotron" style="background-color:darkblue">
        <h2 style="color:black">Animes Library</h2>
        <p style="color:black">The biggest library for animes in the internet. Everything you need to know about the anime: name, price, genre and a lot more .....</p>
        <p><a class="btn btn-primary btn-lg" href="http://go.microsoft.com/fwlink/?LinkId=301866">Animes &raquo;</a></p>
    </div>
    <div class="jumbotron" style="background-color:darkgrey">
        <h2 style="color:black">Series Library</h2>
        <p style="color:black">The biggest library for series in the internet. Everything you need to know about the serie: name, price, rating and a lot more .....</p>
        <p><a class="btn btn-primary btn-lg" href="http://go.microsoft.com/fwlink/?LinkId=301867">Series &raquo;</a></p>
    </div>
</div>